
body {

    background: yellow;
    color: red;

}

.p1{
background: yellowgreen none repeat scroll 0% 0%; color: red;

}

.p2{
background: blue none repeat scroll 0% 0%; color: yellow;

}
